In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files
uploaded = files.upload()

Saving city_day.csv to city_day.csv

In [3]:
df = pd.read_csv('city_day.csv')
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [4]:
df.isnull().sum()

City              0
Date              0
PM2.5          4598
PM10          11140
NO             3582
NO2            3585
NOx            4185
NH3           10328
CO             2059
SO2            3854
O3             4022
Benzene        5623
Toluene        8041
Xylene        18109
AQI            4681
AQI_Bucket     4681
dtype: int64

In [5]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,24933.000000,18391.000000,25949.000000,25946.000000,25346.000000,19203.000000,27472.000000,25677.000000,25509.000000,23908.000000,21490.000000,11422.000000,24850.000000
mean,67.450578,118.127103,17.574730,28.560659,32.309123,23.483476,2.248598,14.531977,34.491430,3.280840,8.700972,3.070128,166.463581
std,64.661449,90.605110,22.785846,24.474746,31.646011,25.684275,6.962884,18.133775,21.694928,15.811136,19.969164,6.323247,140.696585
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000
25%,28.820000,56.255000,5.630000,11.750000,12.820000,8.580000,0.510000,5.670000,18.860000,0.120000,0.600000,0.140000,81.000000
50%,48.570000,95.680000,9.890000,21.690000,23.520000,15.850000,0.890000,9.160000,30.840000,1.070000,2.970000,0.980000,118.000000
75%,80.590000,149.745000,19.950000,37.620000,40.127500,30.020000,1.450000,15.220000,45.570000,3.080000,9.150000,3.350000,208.000000
max,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [8]:
numerical_data = df.select_dtypes(include=['int64', 'float64']).columns
non_numerical_data = df.select_dtypes(include=['object']).columns

In [9]:
numerical_data

Index(['PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2', 'O3',
       'Benzene', 'Toluene', 'Xylene', 'AQI'],
      dtype='object')

In [10]:
non_numerical_data

Index(['City', 'Date', 'AQI_Bucket'], dtype='object')

In [11]:
df[numerical_data].isnull().sum()

PM2.5       4598
PM10       11140
NO          3582
NO2         3585
NOx         4185
NH3        10328
CO          2059
SO2         3854
O3          4022
Benzene     5623
Toluene     8041
Xylene     18109
AQI         4681
dtype: int64

Handling missing values

1) using median (for numerical data)

In [12]:
df[numerical_data]= df[numerical_data].fillna(df[numerical_data].median())

2. using mode (for categorical data)

In [13]:
for cols in non_numerical_data:
  df[cols] = df[cols].fillna(df[cols].mode()[0])

In [15]:
df.isnull().sum()

City          0
Date          0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI           0
AQI_Bucket    0
dtype: int64

Convert Date (which is a text rn)

In [16]:
df['Date']=pd.to_datetime(df['Date'])

In [17]:
df['year'] = df['Date'].dt.year
df['month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day

In [18]:
df.drop(columns =['Date'], inplace =True)

In [19]:
df.head()

,City,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,year,month,day
0,Ahmedabad,48.57,95.68,0.92,18.22,17.15,15.85,0.92,27.64,133.36,0.00,0.02,0.00,118.0,Moderate,2015,1,1
1,Ahmedabad,48.57,95.68,0.97,15.69,16.46,15.85,0.97,24.55,34.06,3.68,5.50,3.77,118.0,Moderate,2015,1,2
2,Ahmedabad,48.57,95.68,17.40,19.30,29.70,15.85,17.40,29.07,30.70,6.80,16.40,2.25,118.0,Moderate,2015,1,3
3,Ahmedabad,48.57,95.68,1.70,18.48,17.97,15.85,1.70,18.59,36.08,4.43,10.14,1.00,118.0,Moderate,2015,1,4
4,Ahmedabad,48.57,95.68,22.10,21.42,37.76,15.85,22.10,39.33,39.31,7.01,18.89,2.78,118.0,Moderate,2015,1,5

In [21]:
non_numerical_data.drop(columns =['Date'], inplace =True) #it got already dropped from the table so no need to do this

TypeError: Index.drop() got an unexpected keyword argument 'columns'

For categorical rows we use
1) One hot encoding
2) Label encoding

We need to do this because Ml only works on no. so we are gonna need our dataset to contain numerical values only

**One hot encoding** is where there is like no general relationship or sequence in the data. eg- Gender, City, DOB etc ...... if we were to use label encoding here then lelationship would be established like Delhi > Dehradun > Mumbai

In [22]:
df = pd.get_dummies(df, columns=['City'], drop_first=True)

**Label encoding** is used where there is relationship between the variables ..... gor eg - Grades etc ...... the realtionship is established as O > A+ > A > B+ > B > C+ > C > F

In [23]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['AQI_Bucket'] = le.fit_transform(df['AQI_Bucket'])

In [24]:
df.head()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,City_Jorapokhar,City_Kochi,City_Kolkata,City_Lucknow,City_Mumbai,City_Patna,City_Shillong,City_Talcher,City_Thiruvananthapuram,City_Visakhapatnam
0,48.57,95.68,0.92,18.22,17.15,15.85,0.92,27.64,133.36,0.00,...,False,False,False,False,False,False,False,False,False,False
1,48.57,95.68,0.97,15.69,16.46,15.85,0.97,24.55,34.06,3.68,...,False,False,False,False,False,False,False,False,False,False
2,48.57,95.68,17.40,19.30,29.70,15.85,17.40,29.07,30.70,6.80,...,False,False,False,False,False,False,False,False,False,False
3,48.57,95.68,1.70,18.48,17.97,15.85,1.70,18.59,36.08,4.43,...,False,False,False,False,False,False,False,False,False,False
4,48.57,95.68,22.10,21.42,37.76,15.85,22.10,39.33,39.31,7.01,...,False,False,False,False,False,False,False,False,False,False

Warning: Total number of columns (42) exceeds max_columns (20) limiting to first (20) columns.

In [25]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,year,month,day
count,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000,29531.000000
mean,64.510857,109.659366,16.642601,27.726576,31.063568,20.813789,2.153872,13.830897,33.994121,2.859874,7.140485,1.788420,158.781552,2.058210,2017.887914,6.267143,15.762758
std,59.807551,72.324020,21.506064,23.050531,29.477748,21.028862,6.724660,17.005647,20.202304,14.252822,17.224737,4.062039,130.272413,1.344527,1.533783,3.431974,8.804537
min,0.040000,0.010000,0.020000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,13.000000,0.000000,2015.000000,1.000000,1.000000
25%,32.150000,79.315000,6.210000,12.980000,14.670000,12.040000,0.540000,6.090000,20.740000,0.240000,1.280000,0.980000,88.000000,1.000000,2017.000000,3.000000,8.000000
50%,48.570000,95.680000,9.890000,21.690000,23.520000,15.850000,0.890000,9.160000,30.840000,1.070000,2.970000,0.980000,118.000000,1.000000,2018.000000,6.000000,16.000000
75%,72.450000,111.880000,17.570000,34.665000,36.015000,21.755000,1.380000,13.810000,42.730000,2.420000,6.020000,0.980000,179.000000,3.000000,2019.000000,9.000000,23.000000
max,949.990000,1000.000000,390.680000,362.210000,467.630000,352.890000,175.810000,193.860000,257.730000,455.030000,454.850000,170.370000,2049.000000,5.000000,2020.000000,12.000000,31.000000

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 42 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   PM2.5                    29531 non-null  float64
 1   PM10                     29531 non-null  float64
 2   NO                       29531 non-null  float64
 3   NO2                      29531 non-null  float64
 4   NOx                      29531 non-null  float64
 5   NH3                      29531 non-null  float64
 6   CO                       29531 non-null  float64
 7   SO2                      29531 non-null  float64
 8   O3                       29531 non-null  float64
 9   Benzene                  29531 non-null  float64
 10  Toluene                  29531 non-null  float64
 11  Xylene                   29531 non-null  float64
 12  AQI                      29531 non-null  float64
 13  AQI_Bucket               29531 non-null  int64
 14  year                     29531 non-null  int32
 15  month                    29531 non-null  int32
 16  day                      29531 non-null  int32
 17  City_Aizawl              29531 non-null  bool
 18  City_Amaravati           29531 non-null  bool
 19  City_Amritsar            29531 non-null  bool
 20  City_Bengaluru           29531 non-null  bool
 21  City_Bhopal              29531 non-null  bool
 22  City_Brajrajnagar        29531 non-null  bool
 23  City_Chandigarh          29531 non-null  bool
 24  City_Chennai             29531 non-null  bool
 25  City_Coimbatore          29531 non-null  bool
 26  City_Delhi               29531 non-null  bool
 27  City_Ernakulam           29531 non-null  bool
 28  City_Gurugram            29531 non-null  bool
 29  City_Guwahati            29531 non-null  bool
 30  City_Hyderabad           29531 non-null  bool
 31  City_Jaipur              29531 non-null  bool
 32  City_Jorapokhar          29531 non-null  bool
 33  City_Kochi               29531 non-null  bool
 34  City_Kolkata             29531 non-null  bool
 35  City_Lucknow             29531 non-null  bool
 36  City_Mumbai              29531 non-null  bool
 37  City_Patna               29531 non-null  bool
 38  City_Shillong            29531 non-null  bool
 39  City_Talcher             29531 non-null  bool
 40  City_Thiruvananthapuram  29531 non-null  bool
 41  City_Visakhapatnam       29531 non-null  bool
dtypes: bool(25), float64(13), int32(3), int64(1)
memory usage: 4.2 MB

In [28]:
df.shape

(29531, 42)